<h1><%= @movie.name %></h1><h2><%= @movie.director %></h2>

Display Ranking Here

<p><%= @movie.description %></p>

<%= link_to "Movies",         movies_path(@movies) %>
<%= link_to "View All Media", root_path %>
