<h1><%= @book.name %></h1><em><h2><%= @book.author %></h2></em>

Display Ranking Here
<p><%= @book.description %></p>


<%= link_to "View Books", books_path %>
<%= link_to "View All Media", root_path %>
