<h1>New Album</h1>

<%= bootstrap_form_for @album, url: {action: "create"} do |field|%>
<%= field.text_field :name %><br />
<%= field.text_field :artist %><br />
<%= field.text_field :description %><br />
<%= field.submit %>

<% end %>
